<style>
  .sub {
    margin-left: 50px;
    display: grid;
  }
</style>

<router-outlet></router-outlet>
<nav>
  <ul>
    <li><a routerLink="/">Landing</a></li>
    <li><a routerLink="/admin/login">Admin Login</a></li>
    <li><a routerLink="/login">User Login</a></li>
    <li><a routerLink="/signup">User Signup</a></li>
    <li>
      <a routerLink="/events">Events</a>
      <div class="sub">
        <a routerLink="/events/1">Event</a>
      </div>
    </li>
    <li><a routerLink="/user/1">Profile</a></li>
    <div class="sub">
      <a routerLink="/user/1/tickets">Tickets</a>
      <div class="sub">
        <a routerLink="/user/1/tickets/12">Ticket</a>
      </div>
    </div>
    <li>
      <a routerLink="/organiser/1">Organiser</a>
      <div class="sub">
        <a routerLink="/organiser/1/add">Add Event</a>
        <a routerLink="/organiser/1/events">Events</a>
        <div class="sub">
          <a routerLink="/organiser/1/events/16">Event</a>
        </div>
      </div>
    </li>
    <li>
      <a routerLink="/admin/10">Admin</a>
      <div class="sub">
        <a routerLink="/admin/10/events">Events</a>
        <div class="sub">
          <a routerLink="/admin/10/events/123">Event</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
