.form-container{
  width: 80%; 
  margin: 0 auto;
  padding: 20px; 
  box-shadow: 10px 10px 5px lightblue;
  margin-top: 20px;
  padding: 10px;
  background-color:rgb(194, 240, 240) ;
  border-radius: 10px;
}

.detail{
  padding: 3px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 20px;
  height: 35px;
  background-color:white;
  border-radius: 5px;
}
.desc{
  padding: 3px;
  padding-left: 10px;
  padding-bottom: 20px;
  height: 80px;
  background-color:white;
  border-radius: 5px;
}
.date{
  padding: 3px;
  padding-left: 10px;
  padding-bottom: 20px;
  height: 35px;
  background-color:white;
  border-radius: 5px;
}
#dateicon{
  position: relative;
  bottom: 28px;
  left:95%;
}
h5{
  font-size:small;
}
#nav{
  position: fixed;
  top: 80px;
  margin-left: -15px;
}