<!-- Right -->
<div class="background">
    <div class="order_summary">
        
        <!-- Summary Card -->
        <!-- Outer -->

        <div class="details_outer">
            <!-- Title -->
            <div class="text-center"><h4>Order Summary</h4></div>
            <!-- Inner -->

            <div class="details_inner">

                <!-- Image -->

                <div class="summary_thumbnail">
                    <img src={{eventDetails.imgUrl}} alt="images"/>
                    
                    <p>{{eventDetails.name}}</p>

                    <h4>Rs. {{eventDetails.price}}</h4>
                </div>


                <hr />

                <!-- Purchase Details -->

                <div class="purchase_details">

                    <div>
                        <p>Purchase Time</p>
                        <p>{{currentDate | date}}</p>
                    </div>

                    <!-- <div>
                        <p>Commission</p>
                        <p>Rs. {{commission | number:'1.2'}}</p>
                    </div>

                    <div>
                        <p>Invoice</p>
                        <p>000-{{invoice_number1}}-{{invoice_number2}}-001</p>
                    </div> -->


                </div>

                <hr />

                <!-- Subtotal -->

                <div class="purchase_details">

                    <div>

                        <p>Subtotal</p>

                        <p>Rs. {{(eventDetails.price) | number : '1.2' }}</p>

                    </div>

                </div>

                <br />
                <!--  Total -->

                <div class="purchase_details lottie_position">

                    <div>

                        <p>Total</p>

                        <p class="text-green">Rs. {{(eventDetails.price) | number : '1.2' }}</p>
                        
                        <div class="lottie_icon"><ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie></div>
                    </div>

                </div>

            </div>            

        </div>

        

    </div>
</div>