<app-admin-head-nav style="position: fixed;width: 100vw;z-index: 2;"></app-admin-head-nav>
<div>
  <div class="col-md-3" style="height: 100%;position: fixed;top: 80px;">
      <app-admin-nav></app-admin-nav>
  </div>
  <div class="col-md-9" style="position:relative;left: 380px;top: 80px;">
      <div class="form-container">
          <form action="">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="f_name">First Name</label>
                          <div class="detail"><h5>{{user.f_name}}</h5></div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="l_name">Last Name</label>
                          <div class="detail"><h5>{{user.l_name}}</h5></div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Email</label>
                          <div class="detail"><h5>{{user.email}}</h5></div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <div class="detail"><h5>+91 {{user.phone}}</h5></div>
                    </div>
                </div>
              </div>
              <div class="row">
                  
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="">User Type (Role)</label>
                          <div class="detail"><h5>{{user.role}}</h5></div>
                      </div>
                  </div>
              </div>
              <div>
                  <label for="address">Billing Address</label>
                  <div id="address">
                      <h5>{{user.address}}</h5>
                  </div>
                  
              </div>
              <div *ngIf="user.role==='ROLE_USER'">
              <label>Previously participated events by the User</label>
                  <ul class="list-group" *ngFor="let event of user.previous_participated_events">
                      <li class="list-group-item">{{event}}</li>
                  </ul>
              </div>
              <div *ngIf="user.role==='ROLE_ORGANISER'">
                  <label>Previously Organized events by the User</label>
                  <ul class="list-group" *ngFor="let event of user.previous_organized_events">
                      <li class="list-group-item">{{event}}</li>
                  </ul>
              </div>
          </form>
      
      </div>
  </div>
</div>