<li class="list-group-item" style="background-color: rgb(245,244,244);" >
    <div class="row" >
        <div class="col-md-1">
            {{event.id}}
        </div>
        <div class="col-md-2">
            {{event.name}}
        </div>
        <div class="col-md-2">
            {{event.organiser.id}}
        </div>
        <div class="col-md-2">
            {{event.startDate | date:"dd/MM/yyyy"}}
        </div>
        <div class="col-md-2">
            {{event.endDate | date:'dd/MM/yyyy'}}
        </div>
        <div class="col-md-1">
            <button class="btn-primary" (click)="gotoEventDetails()">Details</button> 
        </div>
        <div class="col-md-1">
            <button class="btn-primary" (click)="gotoReport()">Report</button> 
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" (click)="deleteEvent()">Delete</button> 
        </div>
    </div>
</li>