<div class="container">
    <h3 style="text-align: left;padding: 3px;">Filter... <i style="font-size:medium;" class="fa-solid fa-filter"></i></h3>
    <h4>Sort by user role..</h4>
    <h5>Click on the Apply Button below to change the role</h5>
    <div class="row" style="position: relative;left: 20px;margin-top: 20px;">
        <button class="btn-secondary col-md-4" (click)="reset()">Reset <i class="fa-solid fa-rotate-left"></i></button>
        <span class="col-md-2"></span>
        <button id="btn" class="btn-primary col-md-4" (click)="filter()">Apply</button>
    </div>
</div>
