.container{
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(127,255,212);
    border: 3px rgb(168,173,255) solid;
    box-shadow: 10px 10px lightblue;
    position: relative;
    bottom: 330px;
}
button{
    padding: 8px;
    border-radius: 10px;
    border: 2px greenyellow solid;
}