
/* Header */

.report-container {
    padding: 30px;
    position: relative;
    top: 55px;
      font-family: system-ui, sans-serif;
  }
  
  .courses-container {
      width: 97%;
  }
  
  .course {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      max-width: 100%;
      margin: 20px;
      overflow: hidden;
      width: 100%;
  }
  
  .course-preview {
      background-color: #2A265F;
      color: #fff;
      padding: 30px;
      max-width: 250px;
  }
  
  
  .course-info {
      padding: 30px;
      position: relative;
      width: 100%;
  }
  
  
  /* Text */
  
  .spl {
    display: flex;
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .spl_text {
      --s: 0.1em;   /* the thickness of the line */
      --c: #d6ddff; /* the color */
      /* width: 100%; */
      color: #0000;
      padding: 0px;
      margin: 0;
      font-weight: 500;
      padding-bottom: var(--s);
      background: 
        linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
      
      -webkit-background-clip: text,padding-box;
              background-clip: text,padding-box;
      transition: 0.5s;
    }
  .spl_text:hover {--_p: 100%}
    
    
  
  .spl_text {
      font-family: system-ui, sans-serif;
      font-size: 2.5rem;
      cursor: pointer;
  
    }
  
  
  /* Card */
  
  .ag-format-container {
      width: 1142px;
      /* margin: 0 auto; */
  }
  .ag-courses_box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    
      padding: 50px 0;
      padding-bottom: 0px;
    }  
  .ag-courses_item {
      -ms-flex-preferred-size: calc(33.33333% - 30px);
      flex-basis: calc(33.33333% - 30px);
    
      margin: 0 15px 30px;
    
      overflow: hidden;
    
      border-radius: 28px;
    }
    .ag-courses-item_link {
      display: block;
      padding: 30px 20px;
      background-color: #054A91;
    
      overflow: hidden;
    
      position: relative;
    }
    .ag-courses-item_link:hover,
    .ag-courses-item_link:hover .ag-courses-item_date {
      text-decoration: none;
      color: #FFF;
    }
    .ag-courses-item_link:hover .ag-courses-item_bg {
      -webkit-transform: scale(10);
      -ms-transform: scale(10);
      transform: scale(10);
    }
    .ag-courses-item_title {
      min-height: 47px;
      margin: 0 0 25px;
    
      overflow: hidden;
    
      font-weight: bold;
      font-size: 25px;
      color: #FFF;
    
      z-index: 2;
      position: relative;
    }
    .ag-courses-item_date-box {
      font-size: 45px;
      color: #FFF;
      text-align: center;
      z-index: 2;
      position: relative;
    }
    .ag-courses-item_date {
      font-weight: bold;
      color: #DBE4EE;
    
      -webkit-transition: color .5s ease;
      -o-transition: color .5s ease;
      transition: color .5s ease
    }
    .ag-courses-item_bg {
      height: 128px;
      width: 128px;
      background-color: #81A4CD;
    
      z-index: 1;
      position: absolute;
      top: -75px;
      right: -75px;
    
      border-radius: 50%;
    
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }
  
  .report_flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  
  /* Simple Css */
  
  .row-flex {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      border-radius: 11px;
      padding: 0px 20px;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
  }
  
  .shadow-effect {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
  }