<div id="footer-section">
    <div id="aboutUs-section">
        <h1>ABOUT US</h1>
        <div id="bar"></div>
        <p> We are a full service event management company offering turn key event planning and event production
            services for B2B corporate events across all industries.Our clients include major fortune 500 companies
            based in India and abroad.</p>
    </div>

    <div id="usefulLinks-section">
        <h1>USEFUL LINKS</h1>
        <div id="bar"></div>
        <ul>
            <li routerLink="/home">Home</li>
            <li routerLink="/about">About Us</li>
            <li>Team</li>
            <li routerLink="/events-list">Upcoming Events</li>
            <li routerLink="/admin/login">Admin</li>
            <li>Contact Us</li>
        </ul>
    </div>

    <div id="newsletter-section">
        <h1>NEWSLETTER</h1>
        <div id="bar"></div>
        <p>Subscribe to our newsletter for latest updates about our creative agency.</p>
        <form>
            <input type="email" name="" id="" placeholder="Email Address">
        </form>
        <button>Send</button>
    </div>

    <div id="contactUs-section">
        <h1>CONTACT US</h1>
        <div id="bar"></div>
        <p>CORPORATE OFFICE, Ranwar, Bandra West, Mumbai – 400050</p>
        <p>+91-9730276976</p>
        <p>info@swiftevent.in</p>
        <p>BUSINESS DEVELOPMENT TEAM</p>
        <p>adnan@swiftevent.in</p>
    </div>
</div>