canvas{
    position: relative;
    right: 380px;
    top: 65px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#desc{
    position: relative;
    top: 80px;
    right: 300px;
}