
<div class="row" id="header">
    <div class="col-md-4">
        <div style="margin: 0px;padding: 0px;">
            <a *ngIf="isEventDetail||isReport" routerLink="/admin/manage-events"><i class="fa-solid fa-rotate-left"></i> Back to Event Listing</a>&nbsp;&nbsp;
            <a *ngIf="isUserDetail" routerLink="/admin/manage-users"><i class="fa-solid fa-rotate-left"></i> Back to User Listing</a>&nbsp;&nbsp;
            <a routerLink="/admin/dashboard" *ngIf="!isDashboard"><i class="fa-solid fa-house"></i> Go to Dashboard </a>
        </div>
    </div>
    <div class="col-md-4">
        <h1 style="text-align: center;position: relative;top:10px;">{{name}}</h1>
    </div>
    <div class="col-md-1" id="profile">
        <h4><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Admin</h4>
    </div>
    <div class="col-md-1" id="signout">
    <button style="background-color:aqua;border: none;" (click)="signOut()"><h4><i class="fa-sharp fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;Sign Out</h4></button>
    </div>
</div>