
ul{
    box-shadow: 10px 10px 5px lightblue;
  }
  #head{
    position: fixed;
    width: 100vw;
    z-index: 3;
  }
  #nav{
    position: fixed;
    width: 360px;
    top: 80px;
  }
  #filter{
    position: fixed;
    top: 720px;
  }
  #search{
    height: 150px;
    top: 100px;
    width: 100vw;
    z-index: 1;
    position: fixed;
  }
  #title{
    position: fixed;
    z-index:2;
    top: 220px;
    right: 140px;
    width: 60vw;
  } 
  ul{
    overflow: scroll;
    z-index: 1;
    height: 400px;
    position: relative;
    top: 280px;
    width: 250px;
    left: 92px;
  }