<router-outlet name="nav"></router-outlet>
<section id="service-container">
  <div id="heading">

    <h1>Our Service</h1>
    <h3>Categories</h3>

  </div>

  <div id="card-box">
    <div id="card-section">
      <div routerLink="/events-list" id="event-card" *ngFor="let event of events">
        <div id="image-container">
          <img [src]="event.imageUrl" alt="Event Image">
        </div>

        <div id="event-details">
          <div id="category">{{ event.category }}</div>
          <div id="event-description">{{ event.eventDescription }}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="menuType != '/categories'">
  <div id="grid-container">
    <h1>Why Us!!</h1>
    <div id="card-grid">
      <div id="card">
        <div id="card-content" (mouseover)="handleCardHover($event)" (mouseout)="handleCardHover($event)">
          <i class="fa-solid fa-calendar-check icon-size"></i>
          <div id="card-description">
            <h3 id="card-title">Seamless Event Creation</h3>
            <p id="card-text">Effortlessly create and manage your events with our user-friendly platform, simplifying
              the process from start to finish.</p>
          </div>
        </div>
      </div>

      <div id="card">
        <div id="card-content" (mouseover)="handleCardHover($event)" (mouseout)="handleCardHover($event)">
          <i class="fa-sharp fa-solid fa-ticket icon-size"></i>
          <div id="card-description">
            <h3 id="card-title">Easy Ticketing System</h3>
            <p id="card-text">Provide a hassle-free ticketing experience for your attendees with our intuitive ticketing
              system, ensuring a smooth entry to your events.</p>
          </div>
        </div>
      </div>

      <div id="card">
        <div id="card-content" (mouseover)="handleCardHover($event)" (mouseout)="handleCardHover($event)">
          <i class="fa-solid fa-bullhorn icon-size"></i>
          <div id="card-description">
            <h3 id="card-title">Enhanced Event Promotion</h3>
            <p id="card-text">Amplify the reach of your events through our built-in promotion tools, reaching a wider
              audience and maximizing attendance.</p>
          </div>
        </div>
      </div>

      <div id="card">
        <div id="card-content" (mouseover)="handleCardHover($event)" (mouseout)="handleCardHover($event)">
          <i class="fa-solid fa-key icon-size"></i>
          <div id="card-description">
            <h3 id="card-title">Secure Ticket Purchasing</h3>
            <p id="card-text">Enjoy peace of mind with our secure ticket purchasing system, providing a safe and
              reliable
              transaction process for both organizers and attendees.</p>
          </div>
        </div>
      </div>

      <div id="card">
        <div id="card-content" (mouseover)="handleCardHover($event)" (mouseout)="handleCardHover($event)">
          <i class="fa-sharp fa-solid fa-chart-simple icon-size"></i>
          <div id="card-description">
            <h3 id="card-title">Robust Event Analytics</h3>
            <p id="card-text">Gain valuable insights into your event performance with comprehensive analytics, enabling
              you to make data-driven decisions for future events.</p>
          </div>
        </div>
      </div>

      <div id="card">
        <div id="card-content" (mouseover)="handleCardHover($event)" (mouseout)="handleCardHover($event)">
          <i class="fa-solid fa-headset icon-size"></i>
          <div id="card-description">
            <h3 id="card-title">Responsive Customer Support</h3>
            <p id="card-text">Count on our dedicated support team to provide timely assistance and resolve any inquiries
              or issues, ensuring a positive experience for both organizers and attendees.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet name="footer"></router-outlet>