
<div class="nav row" style="padding-top: 10px;padding-left: 10px;">
    <div class="col-md-4">
        <a class="dashboard" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><h4><i class="fa-solid fa-house"></i>&nbsp;&nbsp;Go to Dashboard</h4></a>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;margin-bottom: 10px;">List of Tickets Processed</h2>
    </div>
    <div class="col-md-1" id="profile">
        <h4><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Admin</h4>
    </div>
    <div class="col-md-1"  id="signout">
    <button id="outbtn"><h4><i class="fa-sharp fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;Sign Out</h4></button>
    </div>
</div>