.recent-data{
    position: relative;
    top: 50px;
    right: 350px;
}
.table{
    border-color:crimson;
    border-width: 10px;
}
h4{
    position: relative;
    left: 150px;
    margin-bottom: 20px;
    color: darkgreen;
}
.tdata{
    width: 650px;
    box-shadow: 0 4px 20px 0 rgba(156, 201, 248, 0.2), 0 6px 20px 0 rgba(187, 147, 147, 0.19);
}
#btn{
    position: relative;
    left: 450px;
    top: -10px;
    text-align: center;
    padding: 10px;
    height: 38px;
    border-radius: 5px;
    border: 2px yellow solid;
}