.main{
    margin-top: 70px;
  }
  .shadow-section{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(129, 128, 128, 0.51);
    /* background-color: rgba(151, 246, 251, 0.337); */
      border-radius: 10px;
      padding: 30px;
      position: relative;
      overflow: scroll;
      height: 70vh;
      top:150px;
  }
  #footer{
    top:500px;
    
  }
  .card-body{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .card-title{
      font-size: large;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .col{
      display: flex;
  }
  .hover-zoom {
      overflow: hidden;
    }
    
    .hover-zoom img {
      transition: transform 0.3s ease-in-out;
    }
    
    .hover-zoom:hover img {
      transform: scale(1.1);
    }
    .btn-md {
      font-size: 14px;
      padding: 0.375rem 0.75rem;
    }
    .btn {
      width: 40%;
      height: 17%;
      color: black;
      background-color:rgb(255, 100, 0);
      border-color:rgb(255, 100, 0);
    }
  
    .btn:hover {
      background-color: rgb(255, 153, 85);
      border-color: rgb(255, 153, 85);
      transform: scale(1.05);
    }
    .card {
      border: none;
      box-shadow:   0px 5px 10px 0px rgba(0, 0, 0, 0.5);;
      transition: box-shadow 0.3s ease-in-out,  transform 0.3s ease-in-out;;
    
    }
    .card:hover {
      box-shadow: 0 0 20px rgb(255, 153, 85);
      transform: scale(1.02);
    }
    .noEvent{
      font-size: large;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  