table{
    width: 75vw;
    opacity: .8;
    border-left:2px solid black;
    border-left:2px solid black;
    border-top:2px solid  black;
    border-right:2px solid black;
    border-bottom:2px solid black ;


  }
  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
     opacity:.5;
  }
  
  .button-25 {
    background: green;
    border: 1px solid green;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-25:hover,
  .button-25:active {
    background-color: initial;
    background-position: 0 0;
    color: green;
  }
  
  .button-25:active {
     opacity:.5;
  }
  .bg{
    background-color: beige;
  }
  .tbody,thead,tr,th,td{
    border-left:2px solid black;
    border-left:2px solid black;
    border-top:2px solid  black;
    border-right:2px solid black;
    border-bottom:2px solid black ;
  }
.table{
  border-radius: 5px;
}
  