<router-outlet name="nav"></router-outlet>
<div id="aboutContent">
    <div id="app-banner">
        <h1>About Us</h1>
        <img src="assets/Images/About-Us-Final.jpg" alt="">
    </div>
    <div id="bottom-effect"></div>
    
    <div id="descriptions">
        <div id="design-line"></div>
        <div id="design-arrow"></div>
        <p>We provide event management services to companies from different industries.</p>

        <p>We have a vast vendor network of Hotels and partners who help us provide the best and most cost effective event services to our clients.</p>

        <p>Our focus is to align your event objectives with modern concepts to deliver creative and engaging event experiences to your attendees.</p>

        <h3>OUR EVENT MANAGEMENT PHILOSOPHY</h3>

        <p>To make our clients event planning processes simple by offering reliable and impactful services.The experience our clients get from working with us is always as important as the experience we deliver to the events audiences.</p>

        <h3>OUR EVENT MANAGEMENT STRATEGY </h3>

        <p>We identify key focus areas for every event we plan and consult you about what works best and what can help you derive maximum return on your investment.</p>

        <p>Our approach is 2 pronged :</p>

        <p>1) We obviously suggest what we think would be best suited for your company’s event.</p>

        <p>2) We try and do it in a cost effective and budgeted manner</p>

        <p>This approach helps us meet your expectations in a more focused manner.</p>

        <br>
        <br>
        <br>

        <div id="design-line"></div>
        <div id="design-arrow"></div>
    </div>
</div>
<router-outlet name="footer"></router-outlet>