canvas{
    height: 300px;
    width: 800px;
    position: relative;
    right: 50px;
    top: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#desc{
    position: relative;
    top: 80px;
    left: 30px;
}