
#head{
    z-index: 2;
    position: fixed;
    width: 100vw;
  }
  #nav{
    z-index: 2;
    position: fixed;
    width: 360px;
    top: 80px;
    left: 1px;
  }
  #filter{
    z-index: 2;
    position: fixed;
    top: 730px;
    left: 30px;
  }
  #search{
    z-index: 1;
    position: fixed;
    width: 100vw;
    left: 400px;
    height: 160px;
    top:50px;
    background-color: white;
  }
  #title{
    z-index: 1;
   position: fixed; 
   left: 500px;
   width:61vw;
   height: 55px;
   top: 210px;
  }
  #list{
    width: 920px;
    position: relative;
  }
  ul{
    overflow: scroll;
    height: 400px;
    position: relative;
    top: 270px;
    left: 480px;
    width: 970px;
    box-shadow: 10px 10px 5px lightblue;
  }