.bg{
    background-color:#0F204B;
    margin-left:-13px;
    height: 81vh;
    width: 1279px;
    margin-top: -10px;
}
.form{
    background-color: rgba(245, 245, 245,0.8);
    height: 72vh;
    padding-top: 30px;
    overflow: scroll;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20px;
    font-size: 15px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    letter-spacing: .0125em;
    margin-left: 60px;
    margin-right:120px;
    

}
.btn{
  
    margin-left: 100px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{

    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(#0F204B,#0F204B);
    border-radius: 10px;
}
.back{
    position: relative;
    top: -20px; 
    height: 90vh;
}
.nav{
    padding: 30px;
    width: 22vw;
    padding-top: 40px;
    background-color:#fae7b5;
    height:90vh ;
    position: relative;
    top:80px;
}
button{
    width: 250px; 
    height: 50px;
    padding: 10px;
    border-radius: 10px;

}
#btn1{
    position: relative;
    top: 100px;
}

#btn2{
    position: relative;
    bottom: 100px;
}
.btn-primary{
    opacity:.8;
    text-shadow:2px 2px 4px rgba(0,0,0,.2);
    border-left:1px solid black;
    border-left:1px solid black;
    border-top:1px solid  black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    background-color: rgb(14, 14, 40);
    font-size: 20px;
    font-family: "sans-serif";
    margin-left: 25px;
}
.bg{
    background-color:#0F204B;
    height: 90vh;
    width: 1282px;
    position: relative;
    bottom: 670px;
    left: 267px;
}
#head-nav{
    position: fixed;
}
