<li class="list-group-item">
    <div class="row">
        <div class="col-md-1">
            {{user.id}}
        </div>
        <div class="col-md-1">
            {{user.f_name}}
        </div>
        <div class="col-md-1">
            {{user.l_name}}
        </div>
        <div class="col-md-3">
            {{user.email}}
        </div>
        <div class="col-md-2">
            {{user.role}}
        </div>
        <div class="col-md-2">
            <button class="btn-primary" style="padding: 5px;border-radius: 5px;" (click)="gotoUserDetails()">Click here</button> 
        </div>
        <div class="col-md-2">
            <button class="btn-danger" style="padding: 5px;border-radius: 5px;" (click)="deleteUser()">Delete User</button> 
        </div>
    </div>
</li>