<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <div id="nav">
      <ul class="list-group">
          <button (click)="gotoEventList()"><li class="list-group-item-secondary" [class.active]="isActive('/admin/manage-events')"><h5>Manage Events <i class="fa-solid fa-calendar-day"></i></h5></li></button>
          <button (click)="gotoUserList()"><li class="list-group-item-secondary" [class.active]="isActive('/admin/manage-users')"><h5>Manage Users <i class="fa-solid fa-users"></i></h5></li></button>
          <button (click)="gotoTickets()"><li class="list-group-item-secondary" [class.active]="isActive('/admin/manage-tickets')"><h5>Manage Tickets <i class="fa-solid fa-ticket"></i></h5></li></button>
          <button (click)="gotoEventList()"><li class="list-group-item-secondary" ><h5>Generate Report <i class="fa-solid fa-clipboard"></i></h5></li></button>
      </ul>
  </div>