
#search{
    position: relative;
    left: 94%;
    bottom: 33px;
    height: 30px;
    background-color: white;
  }
input{
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.2);
    height: 42px;
  }
#row{
  width: 750px;
  position: relative;
  height: 50px;
  left: 200px;
  top: 50%;
  background-color: white;
}