<section>
    <div class="appslider">
        <div *ngFor="let imageUrl of imageUrls; let i = index">
            <img [src]="imageUrl.url" alt="Slide Image" [class.active]="i === activeIndex">
        </div>
        <ng-container *ngFor="let imageUrl of imageUrls; let i = index">
            <div class="slider-heading" [class.active]="i === activeIndex">{{imageUrl.heading}}</div>
            <div class="slider-description" [class.active]="i === activeIndex">{{imageUrl.description}}</div>
        </ng-container>

        <div *ngFor="let imageUrl of imageUrls; let i = index">
            <button class="slider-button" [class.active]="i === activeIndex">{{imageUrl.button}}</button>
        </div>
        <div class="cover"></div>
    </div>
</section>