<router-outlet name="nav"></router-outlet>
<div class="background">
    <div class="navigation-buttons">
      <a (click)="tab('ue')">Upcoming Events</a>
      <a (click)="tab('pe')">Past Events</a>
      <a (click)="tab('ce')">Cancelled Events</a>
    </div>
    <br>
    <br>
    <div>
      <app-upcomingevents *ngIf="this.activetab=='ue'" [upcomingevent]="allevents" (changeevent)="modifiedevent($event)"></app-upcomingevents>
      <app-pastevents *ngIf="this.activetab=='pe'" [pastevent]="allevents"> </app-pastevents>
      <app-cancelledevents *ngIf="this.activetab=='ce'" [cancelledevent]="allevents"></app-cancelledevents>
    </div>
    </div>