<table class="booking-history-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Booking Id</th>
        <th>Event Name</th>
        <th>Venue</th>
        <th>Date</th>
        <th>Location</th>
        <th>Total Cost</th>
        <th>Payment Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let booking of upcomingevent;let ioe=index">
        <tr *ngIf="booking.paymentStatus !='Refundstatus'">
        <td>{{ booking.sno }}</td>
        <td>{{ booking.bookingId }}</td>
        <td>{{ booking.eventName }}</td>
        <td>{{ booking.venue }}</td>
        <td>{{ booking.date }}</td>
        <td>{{ booking.location }}</td>
        <td>{{ booking.totalCost }}</td>
        <td>{{ booking.paymentStatus }}</td>
        <td>
          <button (click)="cancelEvent(booking.bookingId,ioe)">Cancel Event</button>
        </td>
        </tr>
    </ng-container>
    </tbody>
  </table>
  

